@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/*** Base Elements ***/
body {
  background: #f5f5f5;
  color: #434343;
  font-family: 'Open Sans', sans-serif;
}
/*** Navbar ***/
#navbar {
  background-color: #dc5151;
  height: 7em;
}

.logo {
  height: 130px;
  width: 130px;
}

.navbar-right li {
  font-size: 14px;
  /*margin-right: 0.2%;*/
  padding-top: 24px;
}

#navbar-items {
  margin-right: 0.2%;
}

/*** Banner ***/
#banner {
  background: black;
  background-size: 100%;
  height: 100%;
  margin-top: 47px;
  min-height: 470px;
  padding-top: 140px;
  text-align: center;
  width:100%;
}

.banner-summary p {
  left: 6em;
  position: relative;
  text-align: left;
  top: 1.8em;
  width: 60%;
}

/*** Login NEEDS EDITING ***/
.container-login {
  color: #333333;
  margin: -6% 23.1%;
  min-height: 0;
  padding: 65px 25px;
  width: 480px;
  /*margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;*/
}

.login-background {
  background: #ffffff;
  border: medium none;
  padding: 10px 30px;
  width: 85%;
  border-radius: 9px;
}

.container-login h2 {
  color: #dc5151;
  font-size: 18px;
}

.form-control {
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #999999;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #333333;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

.form-login-button button {
  background-color: #dc5151;
  border-color: #e73e28;
  color: #ffffff;
  border-radius: 0;
  font-size: 15px;
  line-height: 1.10;
  padding: 10px 16px;
  width: 100%;
  margin-bottom: 10px;
}

.form-login-button a {
  font-size: 12px;
}

.form-login button:hover, .form-login button:focus {
  background: #de2f18;
  border-color: #be2815;
}

/*** Intergation **/
.integration-container {
  background: #312E33;
  min-height: 100px;
  text-align: center;
}

.integration-container p {
  color: #ffffff;
  padding: 5px 0 3px 0;
}

.img {
  margin: 0 auto;
  width: 91.8%;
}


/*** Process ***/
.row-title h2 {
  font-size: 22px;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 20px;
}

.process-content {
  font-size: 4em;
  margin: 0 auto;
  width: 87.2%;
}

.process-content p {
  color: #434343;
  font-size: 12px;
  padding-bottom: 20px;
}

/*** Footer ***/
.footer-row {
  background: #312E33;
  bottom: 0;
  display: inline-block;
  font-size: 11px;
  margin-bottom: -5px;
  min-height: 140px;
  padding: 20px;
  width: 100%;
}

#footer-col {
  width: 10% !important;
}

.footer-row li {
  list-style: none;
  margin-top: 50%;
  margin-left: 45%;
  text-align: center;
}

.footer-row a {
  color: #eee;
}

/*.footer-bottom p, .footer-bottom a {
  color: #eee;
  bottom: 20px;
}*/

#bfoot {
  font-size: 10px;
  margin-right: 4.5%;
  padding-top: 2.25%;
  text-align: center;
  /*width: 100%;*/
}
